header{
    height: 85px; 
    background-color: white;
    // position: relative;
    z-index: 200;
    border:0.3px solid #dedee0;
    
    width: 100%;
    position: sticky;
    top:0;  
    .navbar{
        .collapse{
            font-weight: 600;
        }
    }
    .menucat{
        position: relative;
        transition-duration: .3s;

        ul{
            li{
                padding:0px 10px;
            }
        }
        .menu_category,.menu_category2,.menu_category3{
            background-color: white;
            position: absolute;
            top:110%;
            width:100%;
            box-shadow: 0 1px 4px rgba(0,0,0,.15);
            visibility: hidden;
            .navbar_menu{
                height: 240px;
                width:100%;
                position: relative;
                ul{
                    list-style: none;
                    padding: 0px;
                    display: inline-block;
                
                    li{
                        padding-top: 25px;
                        padding-left: 25px;
                        a{
                         text-decoration: none;
                         color: #787878;
                         font-size: 14px;
                        }

                        a:hover{
                            color:black;
                        }
                    }  
                    
                }
                .menu_image{
                    max-width: 24.8%;
                    display: inline-block;
                    position: absolute;
                    top:13%;
                    img{
                        width: 98%;
                        height: 200px;
                        // margin-bottom: 80px;
                    }
                }
            }
        }

    }

    .menu_search{
        position: relative;
        ul{
            li{
                padding:15px 30px;
                display: inline-block;
                input{
                    padding-top: 0px;
                }
                button{
                    width:40px;
                    height: 30px;
                    padding: 0px;
                    outline: none !important;
                 	box-shadow: none !important;
                    i{
                        font-size: 22px;
                        color: #787878;
                    }
                }
            }
            
        }
    }
}

@media(max-width:576px){
    body{
        position: relative;
        .container{
            //position: absolute;
            #exampleModal{
                .modal-dialog {
                    width: 50%;

                }
            }
        }
    }
}

#exampleModal,#favModal{
    .modal_dialog{
        @media(min-width: 100px) and (max-width:320px){
            width: 78%;
            .modal_body{
                .row{
                    .cart-amount-summary{
                        margin: 0px 17%;
                      }
                      .selected_product{
                        padding: 0px 17%;
                      }
                        .product_wrapper{
                            height: 315px !important;
                        }
                }
              
            }
        }
        @media(min-width: 577px){
            .cart-amount-summary{
                margin: 0px 34%;
            }
        }
        
        .modal_content{
            @media (min-width:321px) and (max-width:576px){
                .modal_body{
                    // width: 100%;
                    .row{
                        .cart-amount-summary{
                            margin: 0px 34%;
                            .checkout-btn{
                                left:-7%;
                            }
                        }
                        .selected_product{
                            max-width: 90%;
                            margin: 0px 27px;
                        }
                    }
                }
                .modal-footer{
                    button{
                        left:10%;
                    }
                }
            }
            .modal_body{
                .cart-amount-summary{
                    h2{
                        font-size: 36px;
                        margin-bottom: 20px;
                    }
                    ul{
                        list-style-type: none;
                        padding-left: 0px;
                        li{
                            margin-bottom: 20px;
                            color: #000000;
                            font-size: 14px;
                            letter-spacing: 0.75px;
                            text-transform: uppercase;
                            font-weight: 600;
                            display: flex;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                        }
                    }
                    .checkout-btn{
                       a{
                            width: 150px;
                            height: 40px;;
                            border-radius: 3px;
                            color: white;
                            text-transform: uppercase;
                            font-weight: 600;
                       }
                    }
                }
                @media(max-width:576px){
                    .selected_product{
                        img{
                            width: 90%;
                        }
                        
                    }
                }
                .selected_product{
                    margin-bottom: 5px;
                    padding: 5px;
                    float: left;
                    position: relative;
                   
                    button{
                        position: absolute;
                        top: 1%;
                        right: 7px;
                    }
                    img{
                        width: 100%;
                        height: 90%;
                    }
                    .product_description{
                        position: absolute;
                        left:3%;
                        top:40%;
                        .pro_brand{
                            font-size: 0.8em;
                            color: #787878;
                            font-weight: 600;
                        }
                        h5{
                            font-size: 18px;
                            color:white;
                            margin-bottom: 3px;
                        }
                        p{
                            font-size: 15px;
                            color:white;
                            margin-bottom: 5px;
                            font-weight: 600;
                        }
                        .pro_price{
                            color:#787878;
                            font-weight: 600;
                            font-size: 16px;

                        }
                    }
                }
                
            }
        }
    }
}
