@model IEnumerable<Final_Code_Project.Models.Section>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="font-size:20px; font-weight:bold;">Name</th>
            <th style="font-size:20px; font-weight:bold;">Image</th>
            <th style="font-size:20px; font-weight:bold;">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="font-size:16px; font-weight:bold; padding-top: 45px;">@item.Name</td>
            <td>
                <img src="~/Assets/img/@item.Image" alt="Alternate Text" style="height:100px;" />
            </td>
            <td style="padding-top: 45px;">
                <a href="/Admin/Section/Edit/@item.Id" class="btn btn-warning"><i class="far fa-edit"></i></a>
            </td>
        </tr>
        }
    </tbody>

</table>
